<div class="splash">
    <div class="title">
        <h1>Expenses App</h1>
    </div>
    <div class="links">
        <a href="/users/sign_in" class="sign_in">LOG IN</a>
        <a href="users/sign_up" class="sign_up">SIGN UP</a>
    </div>
</div>